@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: black;
}

.main {
  background-image: url(assets/images/bg.jpg);
  height: 80vh;
  position: relative;
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
}

.main .box {
  height: 80vh;
  opacity: 0.44;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  height: 62px;
}

nav div {
  margin: 1rem;
}

nav img {
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.lang {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-right: 1rem;
  font-weight: bolder;
}

.red-btn {
  color: #ffffff;
  background-color: red;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 700;
}

.hero {
  position: relative;
  z-index: 10;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: calc(100% - 62px);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.hero > :first-child {
  font-size: 3rem;
  font-weight: 1000;
}

.hero > :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
}

.hero > :nth-child(3) {
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  background: transparent;
  background-color: black;
  color: #ffffff;
  opacity: 0.5;
  height: 3.1rem;
  color: #ffffff;
  width: 30rem;
  border-radius: 0.3rem;
  padding: 1rem;
}

input::placeholder {
  color: #ffffff;
}

.separation {
  height: 0.5rem;
  background-color: grey;
}

.first {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
}

.first > div > span {
  font-size: 2rem;
  font-weight: bolder;
}

.sec-img {
  position: relative;
}

.sec-img img {
  width: 30vw;
  position: relative;
  z-index: 10;
}

.sec-img video {
  position: absolute;
  top: 51px;
  right: 0;
}
